node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env*.staging
.env*.production
.env*.local
!.env*.example
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
/prisma/generated
/.images
settings.local.json
.idea