.content {
  background: linear-gradient(
    0deg,
    light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-primary-9)
    ) 0%,
    light-dark(
      var(--mantine-color-gray-1),
      #000
    ) 25%,
    light-dark(
      var(--mantine-color-gray-1),
      #000
    ) 75%,
    light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-primary-9)
    ) 100%
  );
  border: 1px solid var(--mantine-color-border-7);
}

.header {
  background-color: transparent;
  margin-bottom: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--mantine-color-border-5);
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 600;
  color: light-dark(var(--mantine-color-baseFg-5), var(--mantine-color-baseFg-5));
}
