.root {
  background-color: light-dark(var(--mantine-color-card-5), var(--mantine-color-card-5));
  border: 1px solid var(--mantine-color-border-7);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.root:not([data-with-border]) {
  border: none;
}
