.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-primary-3);

  @mixin hover {
    background-color: var(--mantine-color-primary-5);
    color: var(--mantine-color-primaryFg-5);
  }
}

.linksWrapper {
  padding-left: var(--mantine-spacing-xs);
  border-left: 1px solid var(--mantine-color-border-7);
  margin-left: var(--mantine-spacing-xl);
}

.link {
  font-weight: 500;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-primaryFg-5);
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;

  @mixin hover {
    background-color: var(--mantine-color-primary-5);
    color: var(--mantine-color-primaryFg-5);
  }
}

.label {
  color: var(--mantine-color-primaryFg-5);

  @mixin hover {
    background-color: var(--mantine-color-primary-5);
    color: var(--mantine-color-primaryFg-5);
  }
}

.chevron {
  transition: transform 200ms ease;
}
