.card {
	position: relative;
	overflow: hidden;
	border: 1px solid
		light-dark(var(--mantine-color-primary-2), var(--mantine-color-primary-8));
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xs);
	padding-left: calc(var(--mantine-spacing-xs) + 34px);
	background: light-dark(
		linear-gradient(
			0deg,
			var(--mantine-color-gray-3) 0%,
			var(--mantine-color-gray-1) 25%,
			var(--mantine-color-gray-0) 75%,
			var(--mantine-color-gray-3) 100%
		),
		linear-gradient(
			0deg,
			var(--mantine-color-primary-9) 0%,
			var(--mantine-color-black) 25%,
			var(--mantine-color-black) 75%,
			var(--mantine-color-primary-9) 100%
		)
	);
	height: 100%;
	transition:
		box-shadow 0.15s,
		border-color 0.15s;

	&:hover {
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 6px;
		background-image: light-dark(
			linear-gradient(
				to top,
				var(--mantine-color-primary-5),
				var(--mantine-color-primary-4)
			),
			linear-gradient(
				to top,
				var(--mantine-color-primary-7),
				var(--mantine-color-primary-5)
			)
		);
	}
}

.collected {
	outline: 2px solid
		light-dark(var(--mantine-color-green-7), var(--mantine-color-green-5));
	outline-offset: -2px;
}

.dimmed {
	filter: grayscale(100%);
	opacity: 0.5;

	&:hover {
		filter: grayscale(70%);
		opacity: 0.75;
	}
}

.disabled {
	&:disabled,
	&[data-disabled] {
		border: 0;
		color: var(--mantine-color-gray-5);
		background-color: transparent;
	}
}

.actionBar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	z-index: 1;
	background-image: light-dark(
		linear-gradient(
			to top,
			var(--mantine-color-primary-5),
			var(--mantine-color-primary-4)
		),
		linear-gradient(
			to top,
			var(--mantine-color-primary-7),
			var(--mantine-color-primary-5)
		)
	);
	border-right: 1px solid
		light-dark(var(--mantine-color-primary-3), var(--mantine-color-primary-8));
}

.description {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
