.input {
  background-color: light-dark(var(--mantine-color-input-1), var(--mantine-color-input-9)) !important;
  border: 1px solid var(--search-item-input-color) !important;
}

.input:focus {
  border-color: var(--search-item-input-color-hover) !important;
}

.dropdown {
  background-color: light-dark(var(--mantine-color-input-1), var(--mantine-color-input-9)) !important;
  border: 1px solid var(--search-item-input-color) !important;
}

.option[data-combobox-selected] {
  background-color: var(--search-item-input-color-light) !important;
}

.option:hover {
  background-color: var(--search-item-input-color-light-hover) !important;
}
